a {
    text-decoration: none;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .questionContainer {
    margin-top: 20px;
  }
  
  .answerOptions {
    list-style-type: none;
    padding: 0;
  }
  
  .answerOptions li {
    margin: 10px;
    cursor: pointer;
  }
  
  .correctMessage {
    color: green;
    margin-left: 10px;
  }
  
  .incorrectMessage {
    color: red;
    margin-left: 10px;
  }
  
  .resultContainer button {
    display: block;
    margin-top: 20px;
  }
  